
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
div.urun {
    float: left;
    width: 100%;
    height: auto;
    clear: both;
}

div.urun-resim {
    clear: both;
    float: left;
    width: 57%;
    height: auto;
}
div.urun-icerik {
    float: left;
    width: 43%;
    height: auto;
    padding-left: 25px;
}
div.urun-fiyat {
    font-size: 24px;
}
div.urun-isim {
    font-size: 24px;
}
div.urun-baslik {
    font-family: 'Rubik', sans-serif;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}