
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.resim {
    height: 250px;
    display: flex;
    align-items: center;
}
table, th, td {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    /*border: 1px solid black;*/
}

.kutu {
    float: left;
    width: 100%;
    height: auto;
    color: #393939;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    font-family: 'Century Gothic';
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 5px;
    /*border-radius: 10px;*/
}

.indirim {
    background-color: #FF3333;
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
}

.icerik-yazi {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #393939;
}
.baslik {
    text-decoration: none;
    text-align: left;
    margin: 10px;
    color: #393939;
}

    .baslik:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.fiyat {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: red;
    margin: 10px;
}

.eski-fiyat {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
    font-family: 'Rubik', sans-serif;
}

.bbb {
    display: none
}

.iii {
    vertical-align: middle;
}

.slideshow-container {
    width: 100%;
    position: relative;
}

.zzz, .ill {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.ill {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .zzz:hover, .ill:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 22px;
    padding: 5px 12px;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    bottom: 0px;
    width: 30%;
    text-align: left;
    font-family: 'Century Gothic';
}

/* Number text (1/3 etc) */
.numbertext {
    background-color: gray;
    opacity: 0.5;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 8px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.ccc {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .aaa, .ccc:hover {
        background-color: #717171;
    }

#user-title {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 27px;
    background-color: #E9E9E9;
    color: black;
    font-size: 13px;
    vertical-align: center;
}


#giris {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    background-image: url(https://i.hizliresim.com/0OxNsz.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 23px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    background-size: 20px;
    margin-left: 15px;
}

#sepet {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    background-image: url(https://i.hizliresim.com/zam8xP.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 23px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    background-size: 20px;
    margin-left: 15px;
}

    #sepet:hover, #giris:hover {
        text-decoration: none;
    }

@media (max-width: 576px) {
    #giris, #sepet {
        margin-left: 0px;
    }
}
#ara {
    width: 100%;
    background-image: url(https://i.hizliresim.com/8X93hV.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 15px;
    font-size: 12px;
    padding: 10px 20px 10px 42px;
    border: 1px solid #ddd;
}

#title-info {
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
